{% extends 'base.html' %}
{% block content %}
<div class="match-container">
    <h3>{{match.team1.name}} V {{match.team2.name}}</h3>
    {% if match.completed %}
    <h4>The winner was {{match.winner.name}}</h4>
    <h4>Final Score: {{match.match_score[0]}} - {{match.match_score[1]}}</h4>
    {% if match.penalties%} <h5>On Penalties</h5> {% endif %}

    {% for item in match.report%}
    <p>{{ item }}</p>
    {% endfor %}

    {% else %}

    <form action="/matches/play" method="POST">
        <!-- passing the match id back tothe server so it can retrieve data from DB -->
        <input type="number" name="match-id" id="match-id" value="{{match.id}}" class="hidden">
        <button>Play Match</button>
    </form>
    {% endif %}
</div>
<a class="return-link" href="/matches">return to matches</a>




{% endblock %}