{% extends 'base.html' %}
{% block content %}

<form action="/matches/new" method="POST" class="input-form">
    <label for="team1">Team1</label>
    <select name="team1" id="team1">
        {% for team in all_teams %}
        <option value="{{team.id}}">{{team.name}}</option>
        {% endfor %}
    </select>

    <label for="team2">Team2</label>
    <select name="team2" id="team2">
        {% for team in all_teams %}
        <option value="{{team.id}}">{{team.name}}</option>
        {% endfor %}

    </select>

    <button type="submit">Go!</button>
</form>

{% endblock %}