{% extends 'base.html' %}
{% block content %}
<form action="/teams/new" method="post" class="input-form">
    <label for="team-name">Team Name</label>
    <input type="text" id="team-name" name="team-name">

    <input type="radio" id="local" name="team-type" value="local" checked >
    <label for="local">Local</label><br>

    <input type="radio" id="international" name="team-type" value="international">
    <label for="international">International</label><br>
   
    <button>ADD TEAM</button>
</form>
{% endblock %}