{% extends 'base.html' %}
{% block content %}

<form action="/tournaments/new" method="POST" class="input-form">
    <fieldset>
        <legend>Select teams to play a tournament</legend>
        <!--  looping over teams to create selects -->
        <!-- setting a different default value for each -->
       {% for i in range(1, 9) %}
        <label for="team{{ i }}">Team{{ i }}</label>
        <select name="team{{ i }}" id="team{{ i }}">
            {% set default_selected = false %}
            {% for team in all_teams %}
                {% if loop.index == i and not default_selected %}
                    <option value="{{ team.id }}" selected>{{ team.name }}</option>
                    {% set default_selected = true %}
                {% else %}
                    <option value="{{ team.id }}">{{ team.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        {% endfor %}
        <button type="submit">Go to tournament</button>
    </fieldset>

</form>

{% endblock %}