{% extends 'base.html' %}
{% block content %}
<div class="match-container">
    <h1> Tournament {{tournament.id}} Competitors</h1>
    {% for team in tournament.teams%}
    <p>{{team.name}}</p>
        {% endfor %}

    {% if tournament.completed %}
    <h4>The winner was {{tournament.winner.name}}</h4>

    <div class="report">
        <h3>Matches</h3>
        {% for match in tournament.matches%}
        {% set match_index = loop.index0 %}
        {% if match_index == 4 %}
        <h6> ---- ---- ---- ----</h6>
        {% endif %}
        {% if match_index == 7 %}
        <h6> ---- ---- ---- ----</h6>
        {% endif %}
        {% if match_index < 4 %}
            <p class="q-final"> <span>Quarter Final - </span>{{match.team1.name}} {{match.match_score}}  {{match.team2.name}}</p>

            {% elif match_index < 6 %}
            <!-- Semifinals -->
            <p class="s-final">  <span>Semi Final - </span>{{ match.team1.name }} {{ match.match_score }} {{ match.team2.name }} </p>
        {% else %}
            <!-- Final -->
            <h4>The Final</h4>

            <p class="final"> {{ match.team1.name }} {{ match.match_score }} {{ match.team2.name }} </p>
        {% endif %}
            {% endfor%}
    </div>


    {% else %}

    <form action="/tournaments/play" method="POST">
        <!-- passing the match id back tothe server so it can retrieve data from DB -->
        <input type="number" name="tournament-id" id="tournament-id" value="{{tournament.id}}" class="hidden">
        <button>Play Tournament</button>
    </form>
    {% endif %}
</div>
<a class="return-link" href="/">Return to league table</a>




{% endblock %}