{% extends 'base.html' %}
{% block content %}
<form action="/players/new" method="post" class="input-form">
    <label for="player-name">Player Name</label>
    <input type="text" id="player-name" name="player_name">

    <div class="stats-container">
        <label for="position">Position</label>
        <input type="text" name="position" id="position">

        <label for="skill">Skill</label>
        <input type="number" name="skill" id="skill">

        <label for="team">Team </label>
        <select name="team" id="team">
            {% for team in teams %}
              <option value="{{ team.id }}|{{team.name}}">{{ team.name }}</option>
            {% endfor %}
          </select>
    </div>

    <button>ADD PLAYER</button>
</form>
{% endblock %}