{% extends 'base.html' %}
{% block content %}
<div class="match-container">
    <h1 class="f-title">{{player["name"]}}</h1>
    <a href='{{player["img-url"]}}'></a>
    <div class="stats">
        <h3>Position: {{player.position}}</h3>
        <h3>Skill: {{player.skill_level}}</h3>
        <h3>Team: {{player.team_name}}</h3>
        <h4>Value: {{player.value}}</h4>
    </div>

    <div class="buttons">
        <a class="f-title link" href="/players/{{player.id}}/edit">Edit</a>
        <a class="f-title link" href="/players/{{player.id}}/delete">Delete</a>
    </div>
</div>


{% endblock %}