<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knotty League</title>
</head>

<body>
    <header>
        <h1>HOMEPAGE 👍</h1>
        <menu><a href="/">Home</a><a href="/teams">View all teams</a><a href="/matches/new">Schedule a new match</a>
        </menu>
    </header>
    {% block content %}

    {% endblock %}

    <footer>
        <h5>Footer stuff</h5>
    </footer>
</body>

</html>