<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Special+Elite&family=Roboto&display=swap&family=Signika+Negative&display=swap"
        rel="stylesheet">

    <title class="f-title">Knotty Championship Manager</title>
</head>

<body>
    <header>
        <div class="logo">
            <span>Knotty</span>
            <span>Championship Manager</span>
        </div>
        <menu>
            <a href="/teams">League</a>
            <a href="/matches">matches</a>
            <a href="/players">Players</a>
            <a href="/matches/new">create match</a>
            <a href="/teams/new">Add team</a>
            <a href="/players/new">Add player</a>
            <a href="/transfers">Transfer market</a>
            <a href="/about">About</a>
        </menu>

    </header>
    <div class="content-container">
        {% block content %}

        {% endblock %}

    </div>

    <footer>

        <h5></h5>

    </footer>
</body>

</html>