<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Knotty League</title>
</head>

<body>
    <header>
        <h1>HOMEPAGE 👍</h1>
        <menu>
            <a href="/">Home</a>
            <a href="/teams">View all teams</a>
            <a href="/teams/new">Add a new team</a>
            <a href="/matches">View all matches</a>
            <a href="/matches/new">Schedule a new match</a>
        </menu>

    </header>
    <div class="content-container">
        {% block content %}

        {% endblock %}

    </div>

    <footer>

        <h5>Footer</h5>

    </footer>
</body>

</html>