{% extends 'base.html' %}
{% block content %}
<h2> Welcome to the Knotty World Championships</h2>

<p>From Wikipedia- <br><br>
    The game of knotty is a Scottish team sport. It is a variation of the game of shinty as played in the fishing
    communities of Lybster, Caithness. It used to be played widely in the town, as was shinty in the rest of Caithness,
    but it ceased to be played around the end of the 19th century, until 1993 when it was revived by local enthusiasts.
    <br>
    <br>
    It involves a stick (knotty), which can be almost any form of wooden implement, and a cork fishing float as ball
    with varying sizes of players. Local history books suggest knotty was invented by the fishing wives of Lybster –
    once one of the Europe's busiest herring ports – to help keep their men sober when they were ashore. However, whilst
    this would have been a fine side effect of the game, the sport draws from the same prevalence of stick-ball games
    throughout Scotland at that time, many of which became codified into shinty in other areas.
    <br>
    <br>
    With the rundown of the industry in the late 19th century, knotty fell into abeyance until local hotelier, the late
    Bert Mowat, found a copy containing the few rules of the sport wedged between the pages of a Gaelic bible in a
    bedroom.
</p>


<img src="http://placekitten.com/200/300" alt="">
{% endblock %}